In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Yellowknife,CA,62.46,-114.35,60.80,63,75,11.41,broken clouds,0.0,0
1,1,The Valley,AI,18.22,-63.06,87.80,58,40,18.34,scattered clouds,0.0,0
2,2,Hobart,AU,-42.88,147.33,46.40,70,40,12.75,scattered clouds,0.0,0
3,3,Mantua,IT,45.17,10.78,78.01,63,5,10.00,clear sky,0.0,0
4,4,Sucua,EC,-2.47,-78.17,66.20,93,90,5.82,light rain,0.0,0