In [104]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [105]:
# Store the CSV you saved created in part one into a DataFrame.
vacation_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Mantua,IT,78.01,clear sky,45.17,10.78,Hotel la Favorita
1,5,Kaifeng,CN,82.40,few clouds,34.79,114.35,Pullman Kaifeng Jianye
2,6,Bethel,US,84.00,clear sky,41.37,-73.41,Courtyard by Marriott Danbury
3,13,Kutum,SD,78.76,overcast clouds,14.20,24.67,Dibbo areaمنطقة دبو
4,22,Puerto Escondido,MX,84.20,broken clouds,15.85,-97.07,Aldea del Bazar Hotel and Spa

In [139]:
# Create dataframe for city 1.
city_1_df = vacation_data_df.loc[vacation_data_df["City"]=="Vrsac"]
city_1_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
64,238,Vrsac,RS,78.8,clear sky,45.12,21.3,"Hotel Srbija, Vršac"

In [140]:
# Create dataframe for city 2.
city_2_df = vacation_data_df.loc[vacation_data_df["City"]=="Kisujszallas"]
city_2_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
148,554,Kisujszallas,HU,81.0,broken clouds,47.22,20.77,Hotel Kumánia

In [141]:
# Create dataframe for city 3.
city_3_df = vacation_data_df.loc[vacation_data_df["City"]=="Ocsa"]
city_3_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
109,400,Ocsa,HU,79.0,broken clouds,47.3,19.23,Greksa László

In [142]:
# Create dataframe for city 4.
city_4_df = vacation_data_df.loc[vacation_data_df["City"]=="Becsehely"]
city_4_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
133,496,Becsehely,HU,75.2,broken clouds,46.45,16.78,M7 Galéria Panzió

In [143]:
# Combine all 4 df into one
city_route_df = pd.concat([city_1_df, city_2_df,city_3_df,city_4_df])
city_route_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
64,238,Vrsac,RS,78.8,clear sky,45.12,21.30,"Hotel Srbija, Vršac"
148,554,Kisujszallas,HU,81.0,broken clouds,47.22,20.77,Hotel Kumánia
109,400,Ocsa,HU,79.0,broken clouds,47.30,19.23,Greksa László
133,496,Becsehely,HU,75.2,broken clouds,46.45,16.78,M7 Galéria Panzió

In [144]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

In [145]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in city_route_df.iterrows()]

In [146]:
# get lat+lng tuple for each cities
city_all_coord = tuple(zip(city_route_df.Lat.values,city_route_df.Lng.values))
city_1_coord = city_all_coord[0]
city_2_coord = city_all_coord[1]
city_3_coord = city_all_coord[2]
city_4_coord = city_all_coord[3]

In [149]:
# Add a route for the vacation spots of 4 cities.
gmaps.configure(api_key=g_key)
locations = city_route_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(7.0, -55.0), zoom_level=5)

route_layer = gmaps.directions_layer(city_3_coord,city_4_coord,
                                     waypoints=[city_2_coord,city_1_coord],
                                     travel_mode='WALKING')

fig.add_layer(route_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [157]:
# Add a marker layer for the vacation spots of 4 cities.
gmaps.configure(api_key=g_key)
locations = city_route_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(48.0, 20.0), zoom_level=5.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))