In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bethel,US,2020-06-24 02:20:20,41.37,-73.41,73.00,83,1,5.82
1,1,Hithadhoo,MV,2020-06-24 02:23:34,-0.60,73.08,84.18,75,38,10.18
2,2,Mehamn,NO,2020-06-24 02:23:34,71.04,27.85,45.30,74,14,9.46
3,3,Half Moon Bay,US,2020-06-24 02:20:46,37.46,-122.43,73.99,60,20,9.17
4,4,Vaini,TO,2020-06-24 02:23:35,-21.20,-175.20,78.80,78,40,4.70

In [3]:
# get the datatypes
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hithadhoo,MV,2020-06-24 02:23:34,-0.60,73.08,84.18,75,38,10.18
4,4,Vaini,TO,2020-06-24 02:23:35,-21.20,-175.20,78.80,78,40,4.70
7,7,Logan Lake,CA,2020-06-24 02:23:35,50.50,-120.80,77.00,41,75,10.29
10,10,Naze,JP,2020-06-24 02:23:35,28.37,129.48,82.40,78,75,4.70
11,11,Matara,LK,2020-06-24 02:23:35,5.95,80.54,81.84,81,100,10.83
15,15,Sakakah,SA,2020-06-24 02:23:35,29.97,40.21,77.00,16,0,14.99
16,16,Shingu,JP,2020-06-24 02:20:28,33.73,135.98,77.00,78,40,16.11
17,17,Hay River,CA,2020-06-24 02:23:35,60.82,-115.80,75.20,27,75,18.34
26,26,Hilo,US,2020-06-24 02:23:20,19.73,-155.09,82.40,58,90,8.05
30,30,Dongsheng,CN,2020-06-24 02:23:37,39.82,109.98,80.22,20,87,10.07

In [16]:
preferred_cities_df.count()

City_ID       164
City          164
Country       164
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
1    Hithadhoo      MV     84.18  -0.60   73.08
4        Vaini      TO     78.80 -21.20 -175.20
7   Logan Lake      CA     77.00  50.50 -120.80
10        Naze      JP     82.40  28.37  129.48
11      Matara      LK     81.84   5.95   80.54
15     Sakakah      SA     77.00  29.97   40.21
16      Shingu      JP     77.00  33.73  135.98
17   Hay River      CA     75.20  60.82 -115.80
26        Hilo      US     82.40  19.73 -155.09
30   Dongsheng      CN     80.22  39.82  109.98

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng                     Hotel Name
1    Hithadhoo      MV     84.18  -0.60   73.08              Scoop Guest House
4        Vaini      TO     78.80 -21.20 -175.20            Keleti Beach Resort
7   Logan Lake      CA     77.00  50.50 -120.80           Copper Valley Resort
10        Naze      JP     82.40  28.37  129.48                    奄美ポートタワーホテル
11      Matara      LK     81.84   5.95   80.54         Amaloh Boutique Resort
15     Sakakah      SA     77.00  29.97   40.21  Fakhamat Al Orjoana Apartment
16      Shingu      JP     77.00  33.73  135.98                Shingu UI Hotel
17   Hay River      CA     75.20  60.82 -115.80           Ptarmigan Inn Hotels
26        Hilo      US     82.40  19.73 -155.09            Hilo Hawaiian Hotel
30   Dongsheng      CN     80.22  39.82  109.98             Crowne Plaza Ordos

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [26]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))